<!DOCTYPE html>
<html lang="en" class="h-full bg-black">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Drizzly Views</title>
      <link href="https://pro.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
      <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.1.4/dist/tailwind.min.css">
      <link rel="stylesheet" href="style.css">
      <link rel="shortcut icon" href="https://cdn.discordapp.com/icons/709715786335387658/d70893faee4a349c73b7ac9ff34c4a59.webp"/>
      <meta name="author" content="CihatKsm"/>
      <meta name="theme-color" content="#ff00ff"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="application-name" content="Drizzly Views"/>
      <meta name="yandex-verification" content="4bcefb82eb721bef"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="keywords" content="drizzlyviews, Drizzly, drizzlydeveloper, drizzly developer, drizzly views, Drizzly Views, Drizzly Developer, CihatKsm">
      <meta name="description" content="All you have to do is go to your github profile and add this code to your file named \"README.md\".">
      <meta property="og:title" content="Drizzly Views" />
      <meta property="og:url" content="https://views.drizzlydeveloper.gq/" />
      <meta property="og:footer" content="You can visit website." />
      <meta property="og:description" content="All you have to do is go to your github profile and add this code to your file named \"README.md\"."/>
      <meta property="og:image" content="https://cdn.discordapp.com/icons/709715786335387658/d70893faee4a349c73b7ac9ff34c4a59.webp"/>
  </head>
  <body class="select-none">
      <div class="h-15 border-b flex-shrink-0 border-red-900 w-full flex justify-between items-center py-3 lg:px-5">
          <a href="#" class="text-lg font-medium inline-flex items-left text-white pl-2">~Drizzly Views</a>
          <a href="#" class="text-lg font-medium inline-flex items-right text-red-500 pr-2"><i class="fal fa-heart mt-1.5 mr-1"></i> CihatKsm</a>
      </div> 
      <main class="calc-h-full-15 flex">
          <section class="flex-auto py-6 px-5 md:px-10 overflow-auto scrolling-touch">
              <div class="mx-auto max-w-screen-xl myscrollbar">
                  <h2 class="text-3xl font-semibold mb-3 leading-relaxed text-white text-center">Welcome</h2>
                  <div class="container mx-auto my-5">
                      <div class="relative rounded-lg items-center md:shadow-xl md:h-72 mx-2">
                          <div class="z-10 w-full h-full">
                              <div class="p-8 mx-2 h-full bg-white rounded-lg shadow-xl text-center justify-center md:shadow-none">
                                <h3 class="hidden md:block font-bold text-2xl text-gray-700 mb-2">How to use this thing?</h3>
                                <p class="text-gray-600 text-center">All you have to do is go to your github profile and add this code to your file named "README.md".</p>
                                <p class="text-gray-600 text-center">Note: you can use this code in your website. The counter will work.</p>
                                <div class="flex items-center justify-center pt-5 pb-24">
                                    <div class="bg-gray-800 shadow-2xl rounded-lg overflow-hidden">
                                      <div id="header-buttons" class="pt-2 pb-1 px-4 flex">
                                        <div class="rounded-full w-2 h-2 bg-red-500 mr-2"></div>
                                        <div class="rounded-full w-2 h-2 bg-yellow-500 mr-2"></div>
                                        <div class="rounded-full w-2 h-2 bg-green-500"></div>
                                      </div>
                                      <div class="pb-3 pt-1 px-4 text-white text-xl">
                                        <pre class="select-all w-auto h-auto" style="background-color: #414141; border-radius: 5px; padding:4px" ><code id="data" class="language-html line-numbers" style data-src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/line-numbers/prism-line-numbers.js" data-start="-5" ><a><b>&lt;img src="https://views.drizzlydeveloper.gq/&lt;your-personal-url-or-type>"></code></pre>
                                        <pre style="background-color: #414141; border-radius: 5px; padding:4px; margin-top: 10px" ><code id="data" class="language-html line-numbers" style data-src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/line-numbers/prism-line-numbers.js" data-start="-5" ><a><b><img src="https://views.drizzlydeveloper.gq/drizzlydeveloper"></code></pre>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
      </main>
      <footer class="footer relative">
          <div class="container mx-auto px-6">
              <div class="flex flex-col items-center">
                  <div class="text-center py-6">
                      <p class="text-sm text-red-500 font-bold mb-1">Copyright 2021 © Drizzly Developer</p>
                  </div>
              </div>
          </div>
      </footer>
  </body>
</html>
